*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 100%;
    height: 10vh;
    background: #fff;
}

.logo{
    font-size: 10%;
}


nav ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav ul li{
    padding: 20px;
    list-style: none;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1.2rem;
}

nav ul li a{
    cursor: pointer;
    color: #a19f9f;
    text-decoration: none;
}

.btn{
    width: 12vw;
    height: 7vh;
    border: none;
    border-radius: 50px;
    color: #fff;
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: 500;
    background: linear-gradient(to right, #3de962, #25a384);
}

/* intro styles */
.intro{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.intro-text{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    margin-left: 150px;
    width: 50vw;
}

.intro-text >h1{
    margin-bottom: 30px;
    width: 30vw;
    line-height: 1.2;
    font-size: 3.5rem;
    text-size-adjust: 10px;
    text-emphasis: -5px;
    font-weight: 500;
    color: #3b3b3b;
    letter-spacing: 2px;
}

.intro-text >p{
    margin-bottom: 30px;
    font-size: 1.25rem;
    color: #a19f9f;
    width: 30vw;
    line-height: 1.5;
}

.intro-image{
    position: absolute;
    top: -5%;
    right: -7%;
    z-index: -1;
    background-image: url(./images/bg-intro-desktop.svg);
    /* background-position: calc(100% - 50px) calc(100% - 50px); */
    background-position: -170px -120px;
    background-repeat: no-repeat;
    background-size: cover;
}
/* end of intro styles */

.easy-bank{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 200px;
    background: #f3f2f2;
    position: relative;
    z-index: -10;
    width: 100vw;
}

.reason{
    margin: 150px;
    width: 65%;
}

.reason >h1{
    font-size: 3.2rem;
    line-height: 3;
    font-weight: 300;
    letter-spacing: 3px;
    text-shadow: 1px 3px 1px #a19f9f;
    color: #504f4f;
}

.reason >p{
    font-size: 2rem;
    line-height: 1.5;
    color: #a19f9f;
}

.services{
    display: flex;
    justify-content: space-evenly;
    margin-left: 150px;
    height: 40vh;
    width: 80vw;
}

.component{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 25vw;
    height: auto;
}

.component >img{
    width: 5vw;
}

.component >h3{
    font-size: 2rem;
    font-weight: 300;
    color: #2a2929;
}

.component >p{
    width: 18vw;
    font-size: 1.3rem;
    letter-spacing: 1.5;
    line-height: 1.5;
    color: #a19f9f;
}


.updates{
    display: flex;
    flex-direction: column;
    margin: 150px;
}

.updates >h1{
    margin-bottom: 50px;
    font-size: 3.5rem;
    letter-spacing: 1.5px;
    font-weight: 300;
    color: #615d5d;
}

.testimonials{
    display: flex;
}

.card-title{
    color: #a19f9f;
    font-size: 0.8rem;
}

.card-text >h4{
    color: #444242;
    font-size: 1.5;
}

.card-text >p{
    font-size: 1.3rem;
}